a:visited {
  color: #0076BE;
}

a {
  color: #0076BE;
}

body {
  font-family: sans-serif;
  background-color: #4DB4D7;
  color: #0076BE;
  padding: 0;
  margin: 0;
}

.link {
  display: inline-block;
  text-align: center;
  background-color: #AACC77;
  margin: 20px;
  padding: 10px;
  border: 5px solid #00AAAA;
  border-radius: 5px;
  color: #009999;
}

.logo {
  margin-top: 20px;
  text-align: center;
}

.picture {
  border-radius: 5px;
}

#page {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  margin-bottom: 1rem;
  background-color: #48BF91;
  border: 1px solid #0076BE;
  padding: 0.5rem;
  text-align: center;
}

#content {
  background-color: #8BD9C7;
  padding: 1rem;
}

#index {
  text-align: center;
}

#footer {
  background-color: #8BD9C7;
  margin-top: 20px;
  color: #00AAAA;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #000000;
}

#logo-image {
  filter: hue-rotate(120deg) saturate(90%) brightness(150%);
}
